body{
    margin-top: 0;
}
.mainView{
    width: 960px;
    margin-left: auto;
    margin-right: auto;
}
ul{
    list-style-type: none;
    
}
li{
    float: left;
    flex: 1;
    margin: 4px;
    text-align: center;
}